@font-face {
    font-family: 'Onest Variable';
    font-style: normal;
    font-display: swap;
    font-weight: 100 900;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/onest:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
    unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
  }


*{
    box-sizing: border-box;
    position: relative;    
    min-width: 0;    
}

img, video, svg {
    display: block;
    height: auto;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}


body{
    height: 100dvh;

    margin: 0;

    font-family: 'Onest Variable', system-ui, sans-serif;
    color: #fbfbfb;
    background-color: #000000; 

    display: flex;
    flex-direction: column;
    align-items: center;    
    /* justify-content: space-between;  */
    overflow: hidden;  
    
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

p {
    text-wrap: pretty;
}


nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 36px;
    padding-right: 36px;  

    border-bottom: 1px solid #45454759;
}

nav .logo-name {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: bolder;

}

nav .login{
    color: #828284;
    font-weight: bold; 
    /* visibility: hidden;   */
}


.main-container{   
    /* width: 92%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: aqua;

    /* gap: 100px; */
    height: 100%;

    
}

header{    
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    margin-bottom: 0;
    font-size: 4rem;
}

header h2 {
    color: #888890;
    font-size: 1.1rem;
    font-weight: 500;
    margin-top: 0;
}


main {

    display: flex;
    gap: 30px;
    justify-self: center;


} 

main div {
    background-color:rgb(44, 44, 44);
    width: 300px;
    height: 300px;    
}


footer{
    margin-top: auto;
    color: #828284;
    width: 100%;  
    padding-bottom: 8px;
    padding-left: 36px;
    padding-right: 36px;
}

